////////////////////////////////////////
// Project variables
////////////////////////////////////////

// Common breakpoints
$breakpoint-xs: 400px

$breakpoint-s-minor: 480px
$breakpoint-s-major: 640px

$breakpoint-m-minor: 800px
$breakpoint-m-major: 960px

$breakpoint-l-minor: 1120px
$breakpoint-l-major: 1280px

$breakpoint-xl: 1360px

//////////////////////////////////////// Colors

// Common colors
$c-black: #000000
$c-gray-hyper-dark: #111111
$c-gray-ultra-dark: #222222
$c-gray-extra-dark: #444444
$c-gray-dark: #767676
$c-gray-medium: #aaaaaa
$c-gray-light: #c3c3c3
$c-gray-extra-light: #dddddd
$c-gray-ultra-light: #eeeeee
$c-gray-hyper-light: #f6f6f6
$c-white: #fff

$c-pink-extra-dark: #993d7a
$c-pink-dark: #cc51a3
$c-pink-medium: #ff66cc
$c-pink-light: #ffc1ea
$c-pink-extra-light: #ffe0f4

$c-red-extra-dark: #993d3d
$c-red-dark: #cc5151
$c-red-medium: #ff6666
$c-red-light: #ffc1c1
$c-red-extra-light: #ffe0e0

$c-orange-extra-dark: #995b3d
$c-orange-dark: #cc7a51
$c-orange-medium: #ff9966
$c-orange-light: #ffd6c1
$c-orange-extra-light: #ffeae0

$c-yellow-extra-dark: #997a3d
$c-yellow-dark: #cca351
$c-yellow-medium: #ffcc66
$c-yellow-light: #ffeac1
$c-yellow-extra-light: #fff4e0

$c-green-extra-dark: #3d7a3d
$c-green-dark: #51a351
$c-green-medium: #66cc66
$c-green-light: #c1eac1
$c-green-extra-light: #e0f4e0

$c-blue-extra-dark: #3d5b99
$c-blue-dark: #517acc
$c-blue-medium: #6699ff
$c-blue-light: #c1d6ff
$c-blue-extra-light: #e0eaff

$c-purple-extra-dark: #5b3d99
$c-purple-dark: #7a51cc
$c-purple-medium: #9966ff
$c-purple-light: #d6c1ff
$c-purple-extra-light: #eae0ff

$c-brand: #C44569

$c-shadow-primary: rgba(0,0,0, .25)


//////////////////////////////////////// Fonts

// Common fonts
$f-sans: 'Montserrat', 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif


//////////////////////////////////////// Base64 assets

// Common icons
