@import '../helpers/settings'
@import '../helpers/mixins'

////////////////////////////////////////
// $Page header
////////////////////////////////////////

//////////////////////////////////////// Block variables


//////////////////////////////////////// Block mixins and functions


//////////////////////////////////////// Block styles
$block: ".ts-page-header"

#{$block}
  position: relative
  z-index: 1
  display: block
  width: 100%
  background-color: $c-brand

  // $Page header MOD: role menu
  &_role_menu

  // $Page header MOD: role details
  &_role_details

  // $Page header MOD: role payment
  &_role_payment


  // $Page header inner
  &__inner
    display: block
    width: 100%
    max-width: 1280px
    margin: 0 auto
    padding: 10px 40px

    +media-max-l-major
      padding-left: 35px
      padding-right: 35px

    +media-max-l-minor
      padding-left: 30px
      padding-right: 30px

    +media-max-m-major
      padding-left: 25px
      padding-right: 25px

    +media-max-m-minor
      padding-left: 20px
      padding-right: 20px

    +media-max-s-major
      padding-left: 15px
      padding-right: 15px

    +media-max-s-minor
      padding-left: 10px
      padding-right: 10px


  // $Page header group
  &__group
    position: relative
    display: flex
    flex-direction: row
    justify-content: center
    align-items: center
    width: 100%


  // $Page header info
  &__info
    display: block
    width: 100%
    text-align: center

    +media-max-xs
      max-width: 160px


  // $Page header action
  &__action
    display: inline-block
    white-space: nowrap
    font-family: $f-sans
    font-size: 16px
    line-height: 1
    color: $c-white
    border: none
    background-color: transparent
    cursor: pointer
    transition: all .3s

    +media-max-s-major
      font-size: 14px

    &:before,
    &:after
      display: inline-block
      font-family: icons
      color: $c-gray-ultra-light
      vertical-align: middle
      transition: .3s

    &:before
      margin-right: 10px

    &:after
      margin-left: 10px

    &:hover
      color: $c-gray-ultra-light

      &:before,
      &:after
        color: $c-gray-extra-light

    &:focus
      outline: none

    // $Page header action MOD: role previous
    &_role_previous
      position: absolute
      top: 50%
      left: 0
      text-align: left
      transform: translateY(-50%)

      &:before
        content: '\e911'
        font-size: 30px
        line-height: 30px

        +media-max-s-major
          font-size: 25px

    // $Page header action MOD: role table
    &_role_table
      font-size: 18px

      +media-max-s-major
        font-size: 16px

      &:after
        content: '\e90d'
        margin-left: 5px
        font-size: 20px
        line-height: 30px

        +media-max-s-major
          font-size: 18px


  // $Page header action text
  &__action-text
    display: inline-block
    font-family: inherit
    font-size: inherit
    line-height: inherit
    color: inherit
    vertical-align: middle
    white-space: normal
    transition: .3s


  // $Page header action text light
  &__action-text-light
    font-weight: 300


  // $Page header action text bold
  &__action-text-bold
    font-weight: 600


  // $Page header meta
  &__meta
    display: inline-block
    font-family: $f-sans
    font-size: 18px
    line-height: 30px
    font-weight: 400
    color: $c-white
    text-align: center
    vertical-align: middle

    +media-max-s-major
      font-size: 16px


  // $Page header meta text
  &__meta-text
    display: inline-block
    font-family: inherit
    font-size: inherit
    line-height: inherit
    color: inherit
    vertical-align: middle
    white-space: normal
    transition: .3s


  // $Page header meta text light
  &__meta-text-light
    font-weight: 300


  // $Page header meta text bold
  &__meta-text-bold
    font-weight: 600
